body {
    font-family: Alegreya, serif;
    background-color: #2b2e4a;
}

#title {
    font-size: 5em;
    color: #e84545;
}

.options {
    font-size: 5em;
    color: #e84545;
}

.boardname {
    font-size: 3em;
    color: #e84545;
    margin-top: -1em;
}

.log {
    margin-top: 1em;
    margin-bottom: -1em;
    font-size: 2em;
    color: #e84545;
}

span {
    color: #ffd5d5;
}

.ships {
    margin-top: 1em;
    font-size: 2em;
    color: #e84545;
}

#pships {
    margin-left: 1.75em;
}

#oships {
    margin-left: 1.75em;
}

.btn {
    font-size: 0.3em;
    background-color: #53354a;
    color: #e84545;
    width: 20%;
    margin-top: 0.5em;
}

.shipbtn {
    font-size: 0.5em;
    background-color: #53354a;
    color: #e84545;
    width: auto;
    border-color: #903749;
    margin-top: auto;
    margin-right: 0.5em;
}

.shipbtn:hover {
    background-color: #e84545;
    color: #53354a;
    border-color: #903749;
}

.board {
    margin-top: -1em;
    font-size: 2em;
    color: #e84545;
}

td {
    position: relative;
    width: 0.25em;
    height: 0.25em;
    border: 0.05em solid #e84545;
}

td:hover {
    background: #903749;
}

.numbers, .letters {
    text-align: center;
    font-size: 0.75em;
    height: 2em;
    width: 2em;
    border: none;
}

#start {
    font-size: 1em;
    width: auto;
    margin-top: 1.5em;
    display: none;
}

/* extra styles for player.html */
#opponentname {
    margin-left: 1em;
}

#oships {
    margin-left: 1.75em;
}

.multiplayer{
    margin-top: 5em;
}

.mp{
    justify-content: center;
    margin-top: 0.25em;
}

.form-control{
    margin-top: 0.25em;
}

.mpbtn{
    width: auto;
    font-size: 0.5em;
}

